<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <ul class="groups hide-on-small-only">
          <li [ngClass]="{active: !showFavourites}">
            <a (click)="toggleFavourites(false)">
              <span class="hide-on-med-only">Contacts</span>
              <i class="fas fa-users hide-on-large-only"></i>
            </a>
            <span class="triangle"></span>
          </li>
          <li [ngClass]="{active: showFavourites}">
            <a (click)="toggleFavourites(true)">
              <span class="hide-on-med-only">Favourites</span>
              <i class="fas fa-star hide-on-large-only"></i>
            </a>
            <span class="triangle"></span>
          </li>
        </ul>
        <div class="search">
          <input placeholder="Search" type="text" class="validate" [(ngModel)]="searchText" (ngModelChange)="groupContacts()">
        </div>
        <div class="actions hide-on-small-only">
          <a class="waves-effect waves-light btn" routerLink="/create">Add</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="alphabet-links hide-on-med-and-down">
  <a *ngFor="let group of alphabetGroups" (click)="scrollTo(group)">{{group}}</a>
</div>
<div class="content container">
  <div *ngFor="let group of alphabetGroups">
    <h5 [id]="group">{{group}}</h5>
    <div class="collection">
      <a class="collection-item avatar" *ngFor="let contact of contacts[group]" [routerLink]="'/view/'+contact.id">
        <app-avatar [user]="contact" [size]="60"></app-avatar>
        <span class="title"><span class="name">{{contact.firstName}}</span> <span class="name">{{contact.lastName}}</span></span>
        <p class="subtitle">{{contact.email}}</p>
        <span class="secondary-content hide-on-med-and-down">
          <i class="fa-heart" [ngClass]="{fas: contact.favourite, far: !contact.favourite}" (click)="favouriteContact($event, contact)"></i>
          <i class="far fa-edit" (click)="editContact($event, contact)"></i>
          <i class="far fa-trash-alt" (click)="deleteContact($event, contact)"></i>
        </span>
      </a>
    </div>
  </div>
</div>
<div class="footer navbar-fixed hide-on-med-and-up">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <ul class="groups">
          <li [ngClass]="{active: !showFavourites}">
            <a (click)="toggleFavourites(false)">
              <i class="fas fa-users hide-on-large-only"></i>
            </a>
            <span class="triangle"></span>
          </li>
          <li [ngClass]="{active: showFavourites}">
            <a (click)="toggleFavourites(true)">
              <i class="fas fa-star hide-on-large-only"></i>
            </a>
          </li>
        </ul>
        <div class="actions right">
          <a class="waves-effect waves-light btn" routerLink="/create">Add</a>
        </div>
      </div>
    </div>
  </nav>
</div>