.navbar-fixed {
    nav {
        box-shadow: none;
        
        ul {
            li {
                position: relative;

                a {
                    transition: color .3s;
                    color: rgba(255, 255, 255, 0.5);
                    &:hover {
                        background: none;
                    }
                }
                &.active, &:hover {
                    background: none;
                    a {
                        color: white;
                    }
                }
                &.active {
                    .triangle {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 10px 0 10px;
                        border-color: #2da1ad transparent transparent transparent;
                        position: absolute;
                        left: calc(50% - 10px);
                    }
                }
                
            }
        }
        
        .nav-wrapper {
            background: #2da1ad;

            .search {

                padding: 0 15px;
                display: inline-block;
                width: 50%;

                input {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

                    &:focus {
                        border-bottom: 1px solid white;
                    }
                }

                ::placeholder {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        
    }
}

h5 {
    padding-left: 10px;
    text-transform: uppercase;
}
.collection {
    .collection-item {

        &.avatar {
            padding-left: 90px;

            img {
                width: 60px;
                height: 60px;
            }
        }

        .name {
            text-transform: capitalize;
        }

        .secondary-content {

            i {
                color: #aaa;
                width: 40px;
                height: 50px;
                line-height: 2em;
                font-size: 1.4em;
                text-align: center;
                vertical-align: middle;

                &:hover {
                    color: #26a69a;
                    font-size: 1.5em;
                }
            }

        }

        .subtitle {
            color: #aaa;
        }
    }
}