<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <ul>
          <li [ngClass]="{active: !showFavourites}">
            <a (click)="toggleFavourites(false)">Contacts</a>
            <span class="triangle"></span>
          </li>
          <li [ngClass]="{active: showFavourites}">
            <a (click)="toggleFavourites(true)">Favourites</a>
            <span class="triangle"></span>
          </li>
        </ul>
        <div class="search">
          <input placeholder="Search" type="text" class="validate" [(ngModel)]="searchText" (ngModelChange)="groupContacts()">
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="content container">
  <div *ngFor="let group of alphabetGroups">
    <h5 [id]="group">{{group}}</h5>
    <div class="collection">
      <a class="collection-item avatar" *ngFor="let contact of contacts[group]" [routerLink]="'/view/'+contact.id">
        <img [src]="contact.profilePhoto" class="circle">
        <span class="title"><span class="name">{{contact.firstName}}</span> <span class="name">{{contact.lastName}}</span></span>
        <p class="subtitle">{{contact.email}}</p>
        <span class="secondary-content hide-on-med-and-down">
          <i class="fa-heart" [ngClass]="{fas: contact.favourite, far: !contact.favourite}" (click)="favouriteContact($event, contact)"></i>
          <i class="far fa-edit"></i>
          <i class="far fa-trash-alt"></i>
        </span>
      </a>
    </div>
  </div>
</div>