$gray-text: #aaa;
$menu-color: #2da1ad;
$main-color: #26a69a;

.navbar-fixed {
    nav {
        box-shadow: none;
        
        ul {
            li {
                position: relative;

                a {
                    height: 64px;
                    transition: color .3s;
                    color: rgba(255, 255, 255, 0.5);
                    &:hover {
                        background: none;
                    }
                }
                &.active, &:hover {
                    background: none;
                    a {
                        color: white;
                    }
                }
                &.active {
                    .triangle {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 10px 0 10px;
                        border-color: $menu-color transparent transparent transparent;
                        position: absolute;
                        left: calc(50% - 10px);
                    }
                }
                
            }
        }
        
        .nav-wrapper {
            background: $menu-color;

            .container {

                display: flex;

                 .search {

                    flex-grow: 1;
                    padding: 0 15px;
                    display: inline-block;
                    width: 50%;

                    input {
                        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                        &:focus {
                        border-bottom: 1px solid white;
                        }
                    }

                    ::placeholder {
                        color: rgba(255, 255, 255, 0.5);
                    }

                 }

                 .actions {
                   display: inline-block;
                   padding: 0 15px;
                 }

            }

        }
        
    }
}

.content {
    margin-bottom: 70px;
}

.no-contacts-message {
    padding: 15px;
}

.alphabet-links {
    position: fixed;
    bottom: 10px;
    left: 20px;
    display: flex;
    flex-direction: column;

    a {
        color: $gray-text;
        font-size: 1.2em;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            color: $main-color;
        }
    }

}

h5 {
    padding-left: 10px;
    text-transform: uppercase;
}
.collection {
    .collection-item {

        outline: none;

        &.avatar {
            padding-left: 90px;
        }

        .name {
            text-transform: capitalize;
        }

        .secondary-content {

            i {
                color: $gray-text;
                width: 40px;
                height: 50px;
                line-height: 2em;
                font-size: 1.4em;
                text-align: center;
                vertical-align: middle;

                &:hover {
                    color: $main-color;
                    font-size: 1.5em;
                }
            }

        }

        .subtitle {
            color: $gray-text;
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    height: 56px;
    width: 100%;

    .groups {
        flex-grow: 1;
    }

    .actions {
        padding: 0 !important;
    }
}