input {
    margin-bottom: 0 !important;
}

input:focus ~ .autocomplete-content {
    display: block;
}

.select {
    position: relative;
}

.autocomplete-content {
    display: none;
    position: absolute;
    top: 69px;
    width: auto;
    min-width: 150px;
}