/* You can add global styles to this file, and also import other style files */

body {
    background: #f2f2f2;
}

.collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle {
    width: 60px;
    height: 60px;
}

.btn-flat:hover {
    background-color: rgba(0, 0, 0, 0.1);
}