<div class="container">
  <div class="card">
    <div class="card-content">
      <form class="row" [formGroup]="contactForm" (ngSubmit)="saveContact(contactForm.value)">
          <div class="form-header">
            <button type="button" class="cancel-button btn-flat" (click)="cancel()">&#8629; Cancel</button>
            <button type="submit" class="save-button btn">Save</button>
          </div>
          <div class="col s12 main-info">
            <div class="main-avatar">
                <a *ngIf="contactForm.value.profilePhoto" class="btn-floating btn-small red" (click)="removeImage()"><i class="fas fa-times"></i></a>
                <app-avatar [user]="contactForm.value" [size]="185" (click)="setImage()"></app-avatar>
                <input type="file" accept="image/*" [hidden]="true" (change)="imageLoaded($event)" #fileInput>
            </div>
            <div class="main-fields">
                <input placeholder="First Name" formControlName="firstName" type="text" class="validate">
                <input placeholder="Last Name" formControlName="lastName" type="text" class="validate">
                <input placeholder="Email" formControlName="email" type="email" class="validate">
            </div>
          </div>
          <div class="phones col s12">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>Label</th>
                    <th class="hide-on-small-only">Name</th>
                    <th>Number</th>
                  </tr>
                </thead>
                <tbody formArrayName="phones">
                  <tr *ngFor="let phone of contactForm.get('phones').controls; let i = index;" [formGroupName]="i">
                    <td style="text-align:center"><a class="btn-floating btn-small red" (click)="removePhone(i)"><i class="fas fa-minus"></i></a></td>
                    <td><app-select formControlName="label" [options]="_contacts.phoneLabels"></app-select></td>
                    <td class="hide-on-small-only"><input placeholder="Phone Name" formControlName="name" type="text" class="validate"></td>
                    <td><input placeholder="Phone Number" formControlName="number" type="text" class="validate"></td>
                  </tr>
                  <tr>
                      <td style="text-align:center"><a class="btn-floating btn-small" (click)="addPhone()"><i class="fas fa-plus"></i></a></td>
                      <td colspan="3">Add Phone</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="notes col s12">
              <textarea placeholder="Notes" formControlName="notes" class="materialize-textarea"></textarea>
            </div>
        </form>
        <div class="delete col s12" *ngIf="contact.id">
          <button class="btn red" (click)="deleteContact()">Delete Contact</button>
        </div>
    </div>
  </div>
</div>