$main-color-active: #2bbbad;
$red: #f44336;
$light-red: darken($red, 15%);

.card {
    position: relative;
}

.main-info {
    display: flex;

    @media (max-width: 600px) {
        display: block;
        text-align: center;
    }

    app-avatar {
        cursor: pointer;
    }

    app-avatar, .main-fields {
        display: inline-block;

        @media (max-width: 600px) {
            display: block;
        }
    }

    .main-avatar {
        position: relative;

        .btn-floating {
            position: absolute;
            right: 0;
        }
    }

    .main-fields {
        flex-grow: 1;
        padding-left: 24px;

        @media (max-width: 600px) {
            padding-left: 0;
        }
    }

}

.form-header {
    height: 40px;

    .cancel-button {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .save-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.phones table input {
    margin: 0;
}

.btn-floating.btn-small {
    height: 30px;
    width: 30px;

    &:hover {
        background-color: $main-color-active;
    }

    i {
        line-height: 30px;
        font-size: 1em;
        vertical-align: top;
    }
}

.btn.red:hover, .btn-floating.red:hover {
    background-color: $light-red !important;
}