.avatar {
    width: 100%;
    max-width: 185px;
}

.card {
    position: relative;
}

.form-header {
    height: 40px;

    .cancel-button {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .save-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.phones table input {
    margin: 0;
}

.btn-floating.btn-small {
    height: 30px;
    width: 30px;

    i {
        line-height: 30px;
        font-size: 1em;
        vertical-align: top;
    }
}